/Books
/Brigador Up-Armored Edition.url
/CARRION.url
/ckan.exe
/Coding
/Core Temp.lnk
/desktop.ini
/EARTH DEFENSE FORCE 5.url
/Emulators - Shortcut.lnk
/games
/misc desktop stuff
/MongoDBCompass.lnk
/OpenMW Launcher.lnk
/RPi stuff
/SpaceSniffer.exe
/The Binding of Isaac Rebirth.url
/Ultimate General Civil War.url
/Untitled-1.ipynb
/Visual Studio Code.lnk
/Wallpaper